

body{
    background-color: black;
}


.about{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}

.pr{
    color: aliceblue;
    text-align: center;
    font-family: 'Apercu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
}


.about-1{
    color: aliceblue;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 30px;
}


/* footer */


.footer-img{
    width: 150px;
    margin-left: 150px;
    margin-top: 100px;
}


.footer-p{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-left:70px;
    position: relative;
    bottom:399px;
}

.footer-site{
    margin-left:240px;
    margin-top:110px;
    letter-spacing: 0.2rem;
}


.footer-p-1{
    
    /* margin-left:550px; */
    /* margin-top:20px; */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    margin-left:550px;
    bottom:259px;
}

.footer-contact{
    margin-left:240px;
    margin-top:110px;
    letter-spacing: 0.2rem;
}


.footer-adress{

    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    /* margin-left:px; */
    position: relative;
    left: 830px;
   bottom:40px;
}


.office{
    position: relative;
    right:200px;
    top:40px;
    font-size:20px;
  font-weight: 400px;
  color: #FFFFFF;
    
}

.footer-num{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
  
    position: relative;
    left: 830px;
   top:30px;
   
}

.f-adress{
    position: relative;
    left:10px;
    top:90px;

    font-size:20px;
  font-weight: 400px;
  color: #FFFFFF;
}

.f-pk{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
   
    position: relative;
    left:10px;
   top:100px;
   
}

.f-delivery{
    position: relative;
    left:10px;
    top:120px;

    font-size:20px;
  font-weight: 400px;
  color: #FFFFFF;
}

.f-num{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
  
    position: relative;
    left:10px;
   top:140px;
}

.follow{
   position: relative;
   bottom:250px;
   left:350px;
    letter-spacing: 0.2rem;
    font-size:20px;
    font-weight: 400px;
    color: #FFFFFF;
}


.icon-logo{
    width: 165px;
    position: relative;
    left:85%;
    bottom:20px;
   background-color: transparent;
    border-radius:50px; 
}

.icon-apple{
    width: 165px;
    position: relative;
    left:73%;
    top:70px;
   background-color: transparent;
    border-radius:50px; 
}

.icon-google{
    width: 165px;
    position: relative;
    left:61%;
    top:159px;
   background-color: transparent;
    border-radius:50px; 
}
 
/* completed */

